.container{
    width : 700px;
    margin : 30px auto;
}

body{
    background-color: rgb(230, 230, 250);
    font-size: 20px;
    color: rgb(46, 46, 46);
    font-family: Roboto;
    text-align: center;
    }

    h1, h2 {
        font-family: Roboto;
        
    }
        
    h1 {
        font-size: 40px;
        font-weight: 700;
        color:  rgb(255, 170, 249);
    }
        
    h2 {
        font-size: 30px;
        color:  rgb(255, 170, 249);
        font-weight: 400;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }
    .card-white {               
    background-color : rgb(230, 230, 250);
    border: 10px solid rgb(255, 250, 205);
    border-radius: 10px;
    box-shadow: 50px;
    margin: 40px;
    padding: 30px;
    text-align : center;
    line-height : 120%
    }    
.btn-red{
    color : white;
    background-color :  rgb(255, 170, 249);
    border-radius : 25px;
    padding; : 15px 25px;
    font-family: Roboto;
    font-weight : 500;
    margin: 30px;
    padding:10px;
    text-decoration:none;
    transition: 0.5s;
    display: inline-block;
    box-shadow: 10px 10px 0 rgb(255, 247, 173);
}

.img-circle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit:cover;
    background-color : white;
    margin-left : auto;
    transition:  0.5s;
}
.img-circle:hover {
    transform: scale(1.1); 
}

#introduction p {
        
    margin-bottom: 30px;
}  

.list-inline  { 
    list-style-type:none;
    padding-left: 0%;
}
.list-inline li  { 
    display: inline;
}
.list-inline li i {
        
        font-size : 60px;
        color:  rgb(255, 170, 249);
        margin: 0 25px;
}
  .btn-red:hover{
    box-shadow: 0px 0px 0 #FFFACD;
    transform: translate(10px, 10px);   
}
.card-white ul {
    text-align: left;
}
.card-white .text-center {
    text-align: center;
}
#mon-btn{
    transition: 0.5s;
    display: inline-block;
}
#mon-btn:hover{
    transform: translateY(-5px);
}